<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468507210167-pk2tgvpk51irip4slt0022d97mfa5qgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468507210167-pk2tgvpk51irip4slt0022d97mfa5qgb</string>
	<key>API_KEY</key>
	<string>AIzaSyBdNSRiXgrKUN5REvhPFnyXzKpFjlfqBJo</string>
	<key>GCM_SENDER_ID</key>
	<string>468507210167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thiagosantiago.Fakingram</string>
	<key>PROJECT_ID</key>
	<string>fakingram-32516</string>
	<key>STORAGE_BUCKET</key>
	<string>fakingram-32516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468507210167:ios:83c5286279cf8475e47832</string>
</dict>
</plist>